<!-- begin form -->
<div class="form">
	<div class="form__item form__item_sm">
		<div class="form__label">Order Number:</div>
		<div class="form__field">
			<input type="text" class="input">
			<button class="btn btn_primary form__btn" data-animation="ripple">Find</button>
		</div>
	</div>
	<div class="form__item {% if error %}is-error{% endif %}">
		{% if error %}
			<div class="form__label">Error:</div>
			<div class="form__field">
				<div class="form__text">
					<p>Cannot find carrier mapped for integration</p>
				</div>
				<button class="btn btn_primary form__btn" data-animation="ripple" disabled>Download to POS</button>
			</div>
		{% else %}
			<div class="form__label">Description:</div>
			<div class="form__field">
				<ul class="list form__list">
					{% for item in [
						{ label: 'Customer', value: 'John Doe' },
						{ label: 'Phone #', value: '(123) 456 7788' },
						{ label: 'Plan', value: '$35 Unlimited Talk&Text (XPL023)' },
						{ label: 'Contract type', value: 'Activation' },
						{ label: 'Device', value: 'iPhone X Silver 64 Gb (serial: 123456780809898)' },
						{ label: 'SIM', value: 'SIM card (serial: 9898978667876767)' }
					] %}
						<li class="list__item">
							<div class="list__label">{{item.label}}:</div>
							<div class="list__value">{{item.value}}</div>
						</li>
					{% endfor %}
				</ul>
				<button class="btn btn_primary form__btn" data-animation="ripple">Download to POS</button>
			</div>
		{% endif %}
	</div>
</div>
<!-- end form -->