.form
	margin: 0 auto
	max-width: 650px
	&__item
		display: flex
		+xs 
			flex-direction: column
		&:not(:last-child)
			padding-bottom: 30px
		&.is-error
			color: $red
	&__label
		padding: 15px 15px 15px 0
		width: 160px
		min-width: 160px
		+f(16px, 400, 1.25)
		text-align: right
		+xs 
			padding: 0 0 10px
			text-align: left
	&__field
		flex-grow: 1
	&__btn
		margin-top: 20px
		width: 100%
		max-width: 230px
		+xs 
			max-width: none
	&__list,
	&__text
		padding-top: 15px
		+xs 
			padding-top: 5px
	&__text
		+f(16px, 400, 1.25)
